body {
    margin: 0;
    padding: 0;
    background: rgb(5,5,5);
    background: linear-gradient(0deg, rgba(5,5,5,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    text-align: center;
  }

  .slider {
    display: flex;
    align-items: center;
    /* max-width: 100%; */
  }

  .image-section {
    width: 100%;
  
  }

  #imageSlide {
    width: 100%; 
    height: auto; 
    border: 2px solid white;
  }
  button {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px 5px;
    font-size: 14px;
    margin: 0 5px;
    border: 2px solid white;
    cursor: pointer;
  }
  button:hover {
    background-color: #f4f4f4;
    color: #000000;
  }